<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableWebDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC6591951DC07DD300B4198F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC6591AE1DC07DD300B4198F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC6591B91DC07DD300B4198F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
